*{
  margin: 0;
}

nav{

    height: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: end;

    li{
        list-style-type: none;
        //display: flex;
        display: inline-block;
        //padding: 20px;
        //margin-left: 200px;
        //padding: 10px;
    }
}