
.Size {
    height: 300px;
    width: 330px;
    border-bottom: 3px solid red;
}


.alter {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 150px;
}

h2{
    text-align: center;
    color: rgb(75, 69, 69);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
}